/* css reset */ 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-header {
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  background-color: rgba(209, 157, 147, 0.812);
  max-height: 15vh;
}

.navbar {
  list-style: none;

  a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 2px 5px;
  }
  
}

.navbar a.active {
  border-bottom: 2px solid rgb(40, 164, 158);
}

.navbar li:hover {
  translate: 0 -3%;
  text-shadow: 0px 1px 1px;
}


.homepage {
  min-height: 85vh;
  text-shadow: 0px 1px 1px;
  background: conic-gradient(
    #a2b2bc 0deg 20deg, 
    #93a7b6 20deg 40deg, 
    #7a96ad 40deg 60deg, 
    #6986a3 60deg 80deg, 
    #5c7998 80deg 100deg, 
    #506c8e 100deg 120deg, 
    #4a6586 120deg 180deg, /* Spicchio più largo a destra */
    #596f92 180deg 200deg,
    #5c6587 200deg 220deg,
    #5d597d 220deg 240deg,
    #5e4c73 240deg 260deg,
    #c8bebe 260deg 280deg,
    #cdc5c5 280deg 300deg,
    #c1c5cd 300deg 320deg,
    #b2bcc4 320deg 340deg,
    #a8b6c0 340deg 360deg
  );
}

.single-card-wrapper{
  min-height: 30%;
}

.img-wrapper {
  height: 30%;
}

.product-img {
  width: 100%;
  height: 100%;    /* Fondamentale: deve riempire il wrapper */
  object-fit: contain; /* Taglia l'immagine per riempire lo spazio senza distorcerla */
  object-position: center;
}

.card-body {
  max-height: 50%;
}

.title-wrapper {
  min-height: 10%;
}

.price-wrapper {
  font-size: 1.6rem;
}

.card-link {
  list-style: none;
  color: black;
}

.layout-card-wrapper {
  height: 80vh;
}
